/*
Theme Name: Name
Theme URI: http://website.com/
Version: 1.0
Description: This theme was created by hand with the love and care of the Big Tex Trailer Marketing Team. It uses Twitter's Bootstrap version 3.2.0, Fontawesome's icons, and Google's web fonts. It is intended to be viewed in modern browsers (>=IE9). We have made this an ultra-awesome, ultra-amazing, ultra-stupendous marketing tool with tight graphics, cutting-edge coding, and breathtaking SEO. It is a marketing bazooka. BOOM!!!
Author: Big Tex Trailers Marketing Team
Author URI: http://bigtextrailers.com/
*/
iframe{border:none;}
.uppercase{text-transform:uppercase;}
.rightuppercase{
	text-align:right;
	text-transform:uppercase;
}
.leftuppercase{
	text-align:left;
	text-transform:uppercase;
}
.centeruppercase{
	text-align:center;
	text-transform:uppercase;
}
.aligncenter,
div.aligncenter{
	display:block;
	margin:5px auto;
}
.alignright{
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft{
	float:left;
	margin:5px 20px 20px 0;
}
.aligncenter{
	display:block;
	margin:5px auto;
}
a img.alignright{
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone{margin:5px 20px 20px 0;}
a img.alignleft{
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter{
	display:block;
	margin-left:auto;
	margin-right:auto
}
#slider.carousel .item{
	-webkit-transition:opacity 4s; 
	-moz-transition:opacity 4s; 
	-ms-transition:opacity 4s; 
	-o-transition:opacity 4s; 
	transition:opacity 4s;
}
#slider.carousel .active.left{
	left:0;
	opacity:0;
	z-index:2;
}
#slider.carousel .next{
	left:0;
	opacity:1;
	z-index:1;
}
/*the following comments make the site fixed width. uncomment out to next comment if it will be fixed*/
/*.container{
	width:980px!important;
	max-width:none!important;
}
.nav.navbar-nav.bt > li{float:left;}
.nav.navbar-nav.bt > li > a{padding:15px 15px;}*/
/*end*/
.nav.navbar-nav.bt{margin:0;}
.imgReplace{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	white-space:nowrap;
}
input:focus:invalid, 
textarea:focus:invalid, 
select:focus:invalid{
	border-color:#EE5F5B;
	color:#B94A48;
}
input:focus:invalid:focus, 
textarea:focus:invalid:focus, 
select:focus:invalid:focus{
	border-color:#E9322D;
	box-shadow:0 0 6px #F8B9B7;
}
form br{display:none;}
.required{
	color:#F00;
	font-weight:700;
}
aside section{margin-bottom:20px;}
aside section:last-child{margin:0;}
.go-top{
	position:fixed;
	bottom:2em;
	right:2em;
	text-decoration:none;
	color:white;
	background-color:rgba(0, 0, 0, 0.3);
	font-size:12px;
	padding:1em;
	display:none;
}
.go-top:hover{background-color:rgba(0, 0, 0, 0.6);}
h3.widgettitle{
	color:#000;
	font-size:18px;
	line-height:50px;
	margin:0 15px;
	text-align:center;
	text-transform:uppercase;
}
.widget_nav_menu{
	background-color:#CCC;
	padding:0 15px 5px;
}
.widget_nav_menu ul{
	list-style:none;
	padding-left:20px;
}
.widget_nav_menu a{
	color:#333;
	display:block;
	padding:5px 0;
	text-transform:uppercase;
}
.widget_nav_menu a:hover,
.widget_nav_menu a:focus{
	color:#000;
	text-decoration:none;
}
/*homepage buttons*/
.menu-buttons-container a{
	background:#ffffff;
	background:-moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background:-webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background:-o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background:-ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background:linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	border:1px solid #B3B3B3;
	display:block;
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}
.menu-buttons-container a:hover,
.menu-buttons-container a:focus{text-decoration:none;}
.title{
	color:#000;
	font-size:18px;
	font-weight:700;
	padding-top:17px;
}
.description{
	color:#333;
	padding-bottom:17px;
}
.title,
.description{display:block;}
/*featured specials*/
.boxBT{
	background:#E5E5E5;
	padding:10px 25px 20px;
}
.boxBT img{margin-bottom:15px;}
h3.featured{
	background-color:#D1D1D1;
	font-size:18px;
	font-weight:700;
	line-height:42px;
	margin-top:0;
	margin-bottom:0;
	text-transform:uppercase;
}
h3.featured a{color:#333;}
h3.featured a:hover,
h3.featured a:focus{
	color:#FFF;
	text-decoration:none;
}
.btn.bt{white-space:normal;}
/*trailer slider*/
.trailerSlide{
	background-color:#E5E5E5;
	margin:10px 0;
	padding:10px 30px;
}
.trailerSlide h3{
	color:#333;
	font-size:20px;
	font-weight:400;
	margin-top:0;
	text-transform:uppercase;
}
#trailer{padding:0 40px;}
#trailer .caption{text-align:center;}
.caption a{
	color:#333;
	text-transform:uppercase;
}
.caption a:hover,
.caption a:focus{color:#f2f2f2;}
.carousel-control.bt{
	opacity:0.7;
	width:0;
}
.carousel-control.left.bt,
.carousel-control.right.bt{background-image:none;}
.carousel-control .icon-prev, 
.carousel-control .icon-next, 
.carousel-control .fa-stack.left, 
.carousel-control .fa-stack.right{
	display:inline-block;
  position:absolute;
  top:40%;
  z-index:5;
}
.carousel-control .fa-stack.left{margin-left:-10px;}
.carousel-control .fa-stack.right{margin-left:-30px;}
.carousel-control .fa-square{color:#337ab7;}
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right{color:#FFF;}
.thumbnail.bt{
	background-color:#FCFCFC;
	border:none;
	margin-bottom:5px;
}
/*featured pages & posts*/
.featuredPage,
.postContent{
	background:#f2f2f2;
	background:-moz-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e5e5e5));
	background:-webkit-linear-gradient(top, #f2f2f2 0%,#e5e5e5 100%);
	background:-o-linear-gradient(top, #f2f2f2 0%,#e5e5e5 100%);
	background:-ms-linear-gradient(top, #f2f2f2 0%,#e5e5e5 100%);
	background:linear-gradient(to bottom, #f2f2f2 0%,#e5e5e5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 );
}
.featuredPage{padding:15px 25px;}
h3.featuredTitle{
	font-size:23px;
	margin-top:0;
	text-transform:uppercase;
}
.featuredPage p{
	text-align:justify;
	text-justify:inter-word;
}
.featuredPage .more-link{
	display:block;
	margin-top:10px;
	text-align:right;
}
/*trailershopper*/
.textwidget .ts_search{
	border:none;
	padding:0;
	width:auto;
}
.ts_search .search-field li{font-size:14px;}
.ts_search .search-field .title{
	background:#333;
	color:#FFF;
	display:block;
	line-height:20px;
	padding:5px;
}
.ts_search .form-control{margin-bottom:5px;}
.ts_search .search-field{padding:10px;}
.ts_search .search-field span{
	color:#000;
	display:block;
	margin-bottom:10px;
}
.ts_search .search-field button{margin-top:10px;}
form[name="sortform"]{margin-bottom:15px;}
form[name="sortform"] select.form-control[name="ts[open^]"]{width:140px;}
form[name="sortform"] select.form-control{width:120px;}
.tsSort{
	background:#F3F3F3;
	border:1px solid #666;
	border-radius:4px;
	padding:15px;
}
/*gravity forms*/
.page .gform_wrapper{width:100%;}
.page .gform_heading{display:none;}
.page .gform_wrapper .gfield_required{
	color:#F00;
	font-weight:700;
}
.gform_wrapper{
	background:#E5E5E5;
	padding:20px;
}
.hidden_label > label{display:none;}
.ginput_complex .ginput_full,
.ginput_complex .ginput_left,
.ginput_complex .ginput_right{
	display:block;
	margin-bottom:15px;
}
.gfield_radio label{margin-left:5px;}
.ui-datepicker{
	background:#fff;
	border:1px solid #666;
	border-radius:4px;
}
.ui-datepicker-header{
	background-color:#999;
	padding:5px;
}
.ui-datepicker-header a{
	color:#FFF;
	cursor:pointer;
	text-decoration:underline;
}
.ui-datepicker-header a:hover,
.ui-datepicker-header a:focus{
	color:#F2F2F2;
	cursor:pointer;
}
.ui-datepicker-next,
.ui-datepicker-year{float:right;}
.ui-datepicker th,
.ui-datepicker td{text-align:center;}
.ui-datepicker table > tbody > tr:nth-child(2n+1) > td, 
.ui-datepicker table > tbody > tr:nth-child(2n+1) > th{background-color:#f9f9f9;}
.ui-datepicker table > tbody > tr > td, .table > tbody > tr > th, 
.ui-datepicker table > tfoot > tr > td, .table > tfoot > tr > th, 
.ui-datepicker table > thead > tr > td, .table > thead > tr > th{
	border-top:1px solid #ddd;
	line-height:1.42857;
	padding:5px;
	vertical-align:top;
}
.ui-datepicker table, 
.ui-datepicker table > tbody > tr > td, 
.ui-datepicker table > tbody > tr > th, 
.ui-datepicker table > tfoot > tr > td, 
.ui-datepicker table > tfoot > tr > th, 
.ui-datepicker table > thead > tr > td, 
.ui-datepicker table > thead > tr > th{border:1px solid #ddd;}
/* ------------------------------------
Gravity Forms Bootstrap
Help from https://gist.githubusercontent.com/DevinWalker/7110951/raw/8f6863c52df3cc0d627bb1e18e9cb832b5ecf395/gravity-forms_bootstrap
---------------------------------------*/
.gform_wrapper ul{
	padding-left:0; 
	list-style:none 
}
.gform_wrapper li{margin-bottom:15px;}
.gform_wrapper form {margin-bottom:0;}
.gform_wrapper .gfield_required{
	padding-left:1px; 
	color:#b94a48;
}
.ginput_container input[type="text"], 
.ginput_container select, 
.ginput_container textarea,
.ginput_container input[type="email"],
.ginput_container input[type="tel"]{
	background-color:#fff; 
	border:1px solid #ccc; 
	border-radius:4px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075); 
	color:#555; 
	display:block;
	font-size:14px;
	height:34px; 
	line-height:1.428571429;
	padding:6px 12px; 
	transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	width:100%; 
	vertical-align:middle; 
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);  
	-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
}
.ginput_container input[type="checkbox"]{margin-right:5px;}
.ginput_container input:-moz-placeholder, 
.ginput_container select:-moz-placeholder, 
.ginput_container textarea:-moz-placeholder{color:#999}
.ginput_container input::-moz-placeholder, 
.ginput_container select::-moz-placeholder, 
.ginput_container textarea::-moz-placeholder{color:#999}
.ginput_container input:-ms-input-placeholder, 
.ginput_container select:-ms-input-placeholder, 
.ginput_container textarea:-ms-input-placeholder{color:#999}
.ginput_container input::-webkit-input-placeholder, 
.ginput_container select::-webkit-input-placeholder, 
.ginput_container textarea::-webkit-input-placeholder{color:#999}
.ginput_container input:focus, 
.ginput_container select:focus, 
.ginput_container textarea:focus{ 
	border-color:#66afe9;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
	outline:0; 
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6); 
}
.ginput_container input[disabled], 
.ginput_container select[disabled], 
.ginput_container textarea[disabled], 
.ginput_container input[readonly], 
.ginput_container select[readonly], 
.ginput_container textarea[readonly], 
fieldset[disabled] .ginput_container input, 
fieldset[disabled] .ginput_container select, 
fieldset[disabled] .ginput_container textarea{
	background-color:#eee; 
	cursor:not-allowed;
}
textarea.ginput_container input, 
textarea.ginput_container select, 
textarea.ginput_container textarea{height:auto;}
.ginput_container textarea{height:auto;}
.gform_wrapper .gfield_error .gfield_label{color:#b94a48;}
.gform_wrapper .gfield_error input, 
.gform_wrapper .gfield_error select, 
.gform_wrapper .gfield_error textarea{ 
	background-color:#f2dede; 
	border-color:#eed3d7;
	color:#b94a48; 
}
.gform_wrapper .gfield_error input:focus, 
.gform_wrapper .gfield_error select:focus, 
.gform_wrapper .gfield_error textarea:focus{ 
	border-color:#b94a48; 
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(185,74,72,0.6);
	outline:0; 
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(185,74,72,0.6); 
}
.validation_error{ 
	background-color:#f2dede; 
	border:1px solid transparent; 
	border-color:#eed3d7; 
	border-radius:4px;
	color:#b94a48; 
	margin-bottom:20px; 
	padding:15px; 
}
.validation_error h4{ 
	color:inherit;
	margin-top:0; 
}
.validation_error .alert-link {font-weight: bold;}
.validation_error>p, .validation_error>ul{margin-bottom:0;}
.validation_error>p+p{margin-top:5px;}
.validation_error hr{border-top-color:#e6c1c7}
.validation_error .alert-link{color:#953b39}
#gforms_confirmation_message{ 
	border:1px solid transparent; 
	border-radius:4px;
	margin-bottom:20px; 
	padding:15px; 
}
#gforms_confirmation_message h4{ 
	color:inherit;
	margin-top:0;
}
#gforms_confirmation_message .alert-link{font-weight: bold;}
#gforms_confirmation_message>p, #gforms_confirmation_message>ul{margin-bottom:0;}
#gforms_confirmation_message>p+p{margin-top:5px;}
.gfield_label{
	font-size:14px;
	margin-bottom:5px; 
}
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container{
	display:none!important;
	left:-9000px;
	position:absolute!important;  
}
@media print{
	nav,
	footer,
	video,
	audio,
	object,
	embed,
	aside,
	.carousel,
	#myModal,
	.nav,
	img{display:none;}
	@page{margin:0.8cm;}
	body{
		background:#FFF;
		color:#000;
		font:12pt "Georgia", Times New Roman, Times, serif;
		line-height: 1.3;
	}
	*{
		background:transparent!important;
		color:#000!important; /* Black prints faster: h5bp.com/s */
		box-shadow:none!important;
		border:none!important;
		float:none!important;
		text-shadow:none!important;
		font-family:"Georgia", Times New Roman, Times, serif!important;
		height:auto!important;
		margin:0!important;
		padding:0!important;
		text-align:left!important;
		text-indent:0!important;
		width:auto!important;
	}
	.container{
		width:100%; 
		margin:0; 
		float:none;
	}
	h1, h2, h3, h4, h5, h6{font-family:"Georgia", Times New Roman, Times, serif;}
	header h1 a{font-size:30pt;}
	header:after{content:"www.website.com";}
	header{height:auto;}
	h1{font-size:24pt;}
	h2{
		font-size:14pt;
		margin-top:25px;
	}
	aside h2{font-size:18pt;}
	a{
		color:#000;
		font-weight:bold;
	}
}
/*phones*/
@media(max-width:767px){
}
/*tablets*/
@media(min-width:768px) and (max-width:991px){
}
/*desktops*/
@media(min-width:992px){
}
/*large desktops*/
@media(min-width:1200px){
}